/* .navbar {
    background-color: #fff;
    padding: 10px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 99;
  } */
  
  /* .nav-left .logo { */
    /* height: 10px;
    width: 20px; */
    /* width: 13rem;
  } */
  
  /* .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 30;
  }

  a{
    text-decoration: none;
    transition: all 500ms;
    letter-spacing: 7px;
    color: black;
  }

  a:hover{
    font-weight: bolder;
  }


  
  .contact-btn button {
    background-color: #63806d;
    padding: 8px 16px;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu_bar {
    display: none;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .contact-btn {
      display: none;
    }
    .menu_bar {
      display: block;
    }
  } */



.navbar {
    background-color: #fff;
    padding: 10px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-left .logo {
    width: 13rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
    margin-right: 15px;
}


.nav-links li {
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links a {
  text-decoration: none;
  transition: all 0.5s;
  letter-spacing: 5px;
  color: black;
}

.nav-links a:hover {
  font-weight: bolder;
}

.contact-button {
  background-color: #63806d;
  padding: 8px 16px;
  color: white;
  font-weight: bolder;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -10px;
}

.menu_bar {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
  }

  .navbar {
      padding: 10px 10px;
  }

  .menu_bar {
      display: block;
  }

  .nav-links.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 10px;
      background: white;
      width: 180px;
      text-align: center;
      padding: 15px 0;
      gap: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }

  .mobile-contact-btn {
      display: block;
      margin-top: 10px;
  }

  .mobile-contact-btn .contact-button {
      width: 80%; 
  }
}
